doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.bundle.min.js')
    block headScript

  body
    div.container.listing-reg
      block content