extends index.pug

block content    

    a(type="button" class="btn btn-success w-100" href="/newRequest") Create new request

    each el in elements
        div(class="card" style="width: 18rem;")
            div(class="card-body")
                h5(class="card-title") Requete
                p Type: #{el.type}
                p Commentaire: #{el.comment}
                <a href="request/#{el.id}">Open</a>
                <a href="delRequest/#{el.id}">Delete</a>



