extends index.pug

block content
    form(method="POST" action="/createRequest")
        div(class="form-group")
            label(for="exampleInputEmail1") Type:
            input(type="text" class="form-control" name="type" id="type")
            label(for="exampleInputEmail1") Comment:
            input(type="text" class="form-control" name="comment" id="comment")
        button(type="submit" class="btn btn-primary") Submit
