//form(action="/uploadFile/#{el.id}" method="POST" enctype="multipart/form-data")
    input(type="file" name="filetoupload") 
    <br>
    button(type="submit" class="btn btn-success") Upload

<form action="/uploadFile/#{el.id}" method="POST" enctype="multipart/form-data">
    <input type="file" name="filetoupload"><br>
    <button type="submit" class="btn btn-success"> Upload <button>  
</form>