extends index.pug

block headScript
    script(src='/js/viewRequestJs.js')

block content  
    div(class="card" style="width: 18rem;")
        div(class="card-body")
            h5(class="card-title") Requete
            p Type: #{el.type}
            p Commentaire: #{el.comment}
            <a href="/uploadFile/#{el.id}">Add file</a>

    <div id="myCarousel" class="carousel slide w-75 center" data-ride="carousel">

        <ol class="carousel-indicators">
            - var i = 0
            each val in imageList
                - i++
                <li data-target="#myCarousel" data-slide-to="#{i}"></li>
        </ol>

        <div class="carousel-inner">
            - var firstItem = true
            each el in imageList
                if firstItem
                    - firstItem = false
                    <div class="carousel-item active"> <img class="img-fluid" src="#{el}" class="d-block w-100"> </div>
                else
                    <div class="carousel-item"> <img class="img-fluid" src="#{el}" class="d-block  w-100"> </div>              
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon black" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon black" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
        